
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.right___site{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    flex-basis: 75%;
}
.main__box{
    text-align: start !important;
    margin: 10px 0;
    
}
.main__box h5{
    color: var(--hreader-color);
    font-family: var(--main-font);
    padding: 10px 0;
    font-size: 18px;
    
}
.main__box form{
    background: var(--white-color);
    padding: 12px 28px !important;
    width: 400px !important;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgb(131 131 131 / 50%);
}
 
.main__box form label{
    font-size: 17px;
    font-family: var(--main-font);
    color: rgb(61, 61, 61);
    padding: 9px 0;
    font-weight: 500;
    font-size: 0.9rem;
}
.main__box form input{
    outline: none;
    width: 90%;
    margin-left: 15px;
    border: none;
    font-family: var(--main-font);
    font-size: 19px !important;

}
.main__box form input::placeholder{
    font-size: 16px !important;
}
.main__box form span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start !important;
    border: 1px solid rgba(65, 65, 65, 0.637);
    padding: 1px 6px;
    margin-bottom: 3px !important;
    border-radius: 5px;
}
 
.forget___pass{
    text-align: end !important;
    margin: 5px 0;
}
.forget___pass a{
    font-size: 12px;
}
.submit__btn {
    width: 100% !important;
    margin: 8px 0;
    padding: 8px 0;
    margin-left: 0 !important;
    background: rgb(31, 31, 241);
    color: var(--white-color);
    font-family: var(--main-font) !important;
    border-radius: 4px;

    
}
.submit__btn:hover{
    color: rgb(247, 206, 206);
    font-size: 5px;
} 
 